.header-main { 
  font-family: Comic Sans MS;
  height: 150px;

}
.header-logo { 
  width: 575px;
  height: 50px;
}
.nav { 
  width: 550px;
  height: 45px;
}

.header-main {
  width: 100%;
  margin: 0px auto;
}
.header-logo { float: left; }


.header-logo img {
  float: left;	
  width: 75px;
  height: 75px;
  background: #555;
}

.header-logo h1 {
  position: relative;
  
}
.nav { 
	float: right 
}
.nav ul li{
	padding-top: 20px;
	padding-right: 10px;
	float: right;
  display: inline-block;
}

.nav ul li a:link{
	text-decoration: none;
  color:black;
}