.element {
  font-family: sans-serif;
    background: white url('/courses/chemistry/periodic_table/images/background2.png');
    color: black;
    cursor: pointer;
    display: block;
    float: left;
    width: 55px;
    height: 55px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;

}

.element code {
    line-height: .8em;
    display: block;
    font-size: 15px;
    color: #000;
    text-align: center;
    font-weight: bold;
    padding: 5px 3px 1px 4px;
    margin: 0;
    text-decoration: none;
}

#non-metal {
  background-color: #00ffff;
}

#alkali-metal {
  background-color: #66ff66;
}

#alkaline-earth-metal {
  background-color: #ffff66;
}

#transition-metal {
  background-color: #ff9966;
}

#lanthanide {
  background-color: #ff6666;
}

#actinide {
  background-color: #9966ff;
}

#metalloid {
  background-color: #99ccff;
}
#post-transition-metal {
 background-color: #99cc00;
}

#unknown-properties {
  background-color: #ccffff;
}

#noble-gas {
  background-color: #ccccff;
}
/*
#lanthanides-actinides{
  margin-top: 10px;
}*/

#table-main{
  margin-bottom: 20px;
  font-family: Comic Sans MS;
}